# Machine Learning

It has two types of machine learning model. One is supervised and un-supervised learning

# Supervised Learning

Algorithm uses the data developed in supervised environments to deliver an output.
Here Input and Output are given to the model for learning and models learning from the structured data which output is come when which input are given to the model. (Input & Output are known)

#### Some commonly known supervised learning methods are:
- Linear Regression
- Logistic Regression
- Support vector machines
- Decision Trees

##### Supervised learning helps two actions Prediction and Binary Prediction:
- Classification
- Regression

# Unsupervised Learning

No supervisor is required to prepare data as outputs may not be known for such algorithms. Here only we can give inputs only by which models can learns and find the patterns from the data and predict the answer or output from the given input.....

# Preparing and shaping the data

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [31]:
# df = pd.read_csv('student_performance_interactions.csv')
df = pd.read_csv('Employee.csv')
student = pd.read_csv('student_performance_interactions.csv')
df.head()
print("database load successfully!")

database load successfully!

In [8]:
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [16]:
df1 = df[['Gender', 'Age', 'JoiningYear','Education']]
df1.head()

   Gender  Age  JoiningYear  Education
0    Male   34         2017  Bachelors
1  Female   28         2013  Bachelors
2  Female   38         2014  Bachelors
3    Male   27         2016    Masters
4    Male   24         2017    Masters

In [12]:
df1.isnull().sum()

Gender         0
Age            0
JoiningYear    0
dtype: int64

### We have no null values in our dataset

if we find any null values in the dataset then we fill null values with approx values of this like mean or mediean of which column when the column has numeric data. 
and fill null values with mode when we have categorical values in the columns

# Now we do scalling and encoding
We do this because ml model learns from the no and work on the numbers not on text or string so we want to need scaling and encoding it means Feature engeeniring of Machine Learnig

We have two types of encoding 
- Label Encoding
- One Hot Encoding

In [19]:
df_label = df1.copy()

le = LabelEncoder()
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])
df_label['Education_Encoded'] = le.fit_transform(df_label['Education'])

print("\n Label Encoded Data")
print(df_label.head(20))

 Label Encoded Data
    Gender  Age  JoiningYear  Education  Gender_Encoded  Education_Encoded
0     Male   34         2017  Bachelors               1                  0
1   Female   28         2013  Bachelors               0                  0
2   Female   38         2014  Bachelors               0                  0
3     Male   27         2016    Masters               1                  1
4     Male   24         2017    Masters               1                  1
5     Male   22         2016  Bachelors               1                  0
6     Male   38         2015  Bachelors               1                  0
7   Female   34         2016  Bachelors               0                  0
8     Male   23         2016  Bachelors               1                  0
9     Male   37         2017    Masters               1                  1
10    Male   27         2012    Masters               1                  1
11    Male   34         2016  Bachelors               1                  0
12    Male   32         2018  Bachelors               1                  0
13    Male   39         2016  Bachelors               1                  0
14    Male   37         2012  Bachelors               1                  0
15    Male   29         2017  Bachelors               1                  0
16  Female   34         2014  Bachelors               0                  0
17    Male   34         2014  Bachelors               1                  0
18  Female   30         2015  Bachelors               0                  0
19  Female   22         2016  Bachelors               0                  0

In [25]:
df_encoded = pd.get_dummies(df_label, columns=['JoiningYear'])
print('\n One-Hot Encoded Data')
print(df_encoded.head())

 One-Hot Encoded Data
   Gender  Age  Education  Gender_Encoded  Education_Encoded  \
0    Male   34  Bachelors               1                  0
1  Female   28  Bachelors               0                  0
2  Female   38  Bachelors               0                  0
3    Male   27    Masters               1                  1
4    Male   24    Masters               1                  1

   JoiningYear_2012  JoiningYear_2013  JoiningYear_2014  JoiningYear_2015  \
0             False             False             False             False
1             False              True             False             False
2             False             False              True             False
3             False             False             False             False
4             False             False             False             False

   JoiningYear_2016  JoiningYear_2017  JoiningYear_2018
0             False              True             False
1             False             False             False
2             False             False             False
3              True             False             False
4             False              True             False

# Feature Engennering & Scaling 
We can use StandartScaler & MinMaxScaler

In [ ]:
# from sklearn.preprocessing import StandardScaler, MinMaxScaler

# scaler = StandardScaler()
# x_scaled = scaler.fit_transform()

# scaler = MinMaxScaler()
# x_scaler = scaler.fit_transform()

In [27]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

In [35]:
student.head()
student1 = student[['final_score', 'daily_study_hours']]
student1.head()

   final_score  daily_study_hours
0    60.137241           1.427203
1    99.021977           4.813612
2    70.522955           1.240908
3    63.448537           2.190601
4    66.483019           2.192265

# Standar Scaler

Z = X-u/null

where,
X = actual value
u = mean
null = standard deviation

In [38]:
standard_scaler = StandardScaler()
standar_scaled = standard_scaler.fit_transform(student1)

print("\n Standard Scaled Data")
scaled = pd.DataFrame(standar_scaled, columns=student1.columns)
scaled.head()

 Standard Scaled Data

   final_score  daily_study_hours
0    -0.751461          -1.345136
1     1.954650           1.580568
2    -0.028687          -1.506087
3    -0.521018          -0.685595
4    -0.309838          -0.684157

# MinMaxScaled 

Scaled = ( X - X(min))/(X(max) - X(min))

In [39]:
minmax_scaler = MinMaxScaler()
minmax_scaled = minmax_scaler.fit_transform(student1)
print("\n Min-Max Scaled Data")
scaled = pd.DataFrame(minmax_scaled, columns=student1.columns)
scaled.head()

 Min-Max Scaled Data

   final_score  daily_study_hours
0     0.363574           0.106026
1     0.984385           0.953979
2     0.529386           0.059378
3     0.416440           0.297180
4     0.464887           0.297597

In [41]:
X = student1[['daily_study_hours']]
y = student1['final_score']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X-Trainingn Data")
print(X_train.head())

print("X-Test Data")
print(X_test.head())

print("y-Trainingn Data")
print(y_train.head())

print("y-Test Data")
print(y_test.head())

X-Trainingn Data
     daily_study_hours
29            1.796879
535           3.314167
695           4.949474
557           2.030528
836           2.752176
X-Test Data
     daily_study_hours
521           3.460279
737           1.325789
740           3.181712
660           2.158912
411           4.931788
y-Trainingn Data
29     55.652147
535    92.956909
695    82.223680
557    59.913679
836    93.373129
Name: final_score, dtype: float64
y-Test Data
521    66.680454
737    88.044168
740    69.285740
660    61.758567
411    87.647919
Name: final_score, dtype: float64

# SuperVised Learning

- Predict Nummber
- Categories Predict 

##### What we can do in this ?
- Collect Labeled Ddata
- Train Model
- Make Prediction 
- Evalute Performance
- Refine Model

##### What we do learn in this 
- Machine Learning Algo & Training Process
1. Regression: It is a technique Supervised Learning in which the model predict the continous output variable by model and find the reletionship between dependent and independent variable through a straight line. It has two types.
   1. Linear Regression 
   2. Classification -> Logistic Regression , K-Nearest Neighbors(KNN), Decision Tree Classifier
2. Model Traning -> .fit(), .predict()