# Machine Learning

It has two types of machine learning model. One is supervised and un-supervised learning

# Supervised Learning

Algorithm uses the data developed in supervised environments to deliver an output.
Here Input and Output are given to the model for learning and models learning from the structured data which output is come when which input are given to the model. (Input & Output are known)

#### Some commonly known supervised learning methods are:
- Linear Regression
- Logistic Regression
- Support vector machines
- Decision Trees

##### Supervised learning helps two actions Prediction and Binary Prediction:
- Classification
- Regression

# Unsupervised Learning

No supervisor is required to prepare data as outputs may not be known for such algorithms. Here only we can give inputs only by which models can learns and find the patterns from the data and predict the answer or output from the given input.....

# Preparing and shaping the data

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [2]:
# df = pd.read_csv('student_performance_interactions.csv')
df = pd.read_csv('Employee.csv')
student = pd.read_csv('student_performance_interactions.csv')
df.head()
print("database load successfully!")

database load successfully!

In [3]:
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [4]:
df1 = df[['Gender', 'Age', 'JoiningYear','Education']]
df1.head()

   Gender  Age  JoiningYear  Education
0    Male   34         2017  Bachelors
1  Female   28         2013  Bachelors
2  Female   38         2014  Bachelors
3    Male   27         2016    Masters
4    Male   24         2017    Masters

In [5]:
df1.isnull().sum()

Gender         0
Age            0
JoiningYear    0
Education      0
dtype: int64

### We have no null values in our dataset

if we find any null values in the dataset then we fill null values with approx values of this like mean or mediean of which column when the column has numeric data. 
and fill null values with mode when we have categorical values in the columns

# Now we do scalling and encoding
We do this because ml model learns from the no and work on the numbers not on text or string so we want to need scaling and encoding it means Feature engeeniring of Machine Learnig

We have two types of encoding 
- Label Encoding
- One Hot Encoding

In [6]:
df_label = df1.copy()

le = LabelEncoder()
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])
df_label['Education_Encoded'] = le.fit_transform(df_label['Education'])

print("\n Label Encoded Data")
print(df_label.head(20))

 Label Encoded Data
    Gender  Age  JoiningYear  Education  Gender_Encoded  Education_Encoded
0     Male   34         2017  Bachelors               1                  0
1   Female   28         2013  Bachelors               0                  0
2   Female   38         2014  Bachelors               0                  0
3     Male   27         2016    Masters               1                  1
4     Male   24         2017    Masters               1                  1
5     Male   22         2016  Bachelors               1                  0
6     Male   38         2015  Bachelors               1                  0
7   Female   34         2016  Bachelors               0                  0
8     Male   23         2016  Bachelors               1                  0
9     Male   37         2017    Masters               1                  1
10    Male   27         2012    Masters               1                  1
11    Male   34         2016  Bachelors               1                  0
12    Male   32         2018  Bachelors               1                  0
13    Male   39         2016  Bachelors               1                  0
14    Male   37         2012  Bachelors               1                  0
15    Male   29         2017  Bachelors               1                  0
16  Female   34         2014  Bachelors               0                  0
17    Male   34         2014  Bachelors               1                  0
18  Female   30         2015  Bachelors               0                  0
19  Female   22         2016  Bachelors               0                  0

In [7]:
df_encoded = pd.get_dummies(df_label, columns=['JoiningYear'])
print('\n One-Hot Encoded Data')
print(df_encoded.head())

 One-Hot Encoded Data
   Gender  Age  Education  Gender_Encoded  Education_Encoded  \
0    Male   34  Bachelors               1                  0
1  Female   28  Bachelors               0                  0
2  Female   38  Bachelors               0                  0
3    Male   27    Masters               1                  1
4    Male   24    Masters               1                  1

   JoiningYear_2012  JoiningYear_2013  JoiningYear_2014  JoiningYear_2015  \
0             False             False             False             False
1             False              True             False             False
2             False             False              True             False
3             False             False             False             False
4             False             False             False             False

   JoiningYear_2016  JoiningYear_2017  JoiningYear_2018
0             False              True             False
1             False             False             False
2             False             False             False
3              True             False             False
4             False              True             False

# Feature Engennering & Scaling 
We can use StandartScaler & MinMaxScaler

In [8]:
# from sklearn.preprocessing import StandardScaler, MinMaxScaler

# scaler = StandardScaler()
# x_scaled = scaler.fit_transform()

# scaler = MinMaxScaler()
# x_scaler = scaler.fit_transform()

In [9]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

In [22]:
student.head()
student1 = student[['final_score', 'daily_study_hours', 'pass_fail']]
student1.head()

   final_score  daily_study_hours  pass_fail
0    60.137241           1.427203          1
1    99.021977           4.813612          1
2    70.522955           1.240908          1
3    63.448537           2.190601          1
4    66.483019           2.192265          1

# Standar Scaler

Z = X-u/null

where,
X = actual value
u = mean
null = standard deviation

In [11]:
standard_scaler = StandardScaler()
standar_scaled = standard_scaler.fit_transform(student1)

print("\n Standard Scaled Data")
scaled = pd.DataFrame(standar_scaled, columns=student1.columns)
scaled.head()

 Standard Scaled Data

   final_score  daily_study_hours
0    -0.751461          -1.345136
1     1.954650           1.580568
2    -0.028687          -1.506087
3    -0.521018          -0.685595
4    -0.309838          -0.684157

# MinMaxScaled 

Scaled = ( X - X(min))/(X(max) - X(min))

In [12]:
minmax_scaler = MinMaxScaler()
minmax_scaled = minmax_scaler.fit_transform(student1)
print("\n Min-Max Scaled Data")
scaled = pd.DataFrame(minmax_scaled, columns=student1.columns)
scaled.head()

 Min-Max Scaled Data

   final_score  daily_study_hours
0     0.363574           0.106026
1     0.984385           0.953979
2     0.529386           0.059378
3     0.416440           0.297180
4     0.464887           0.297597

In [13]:
X = student1[['daily_study_hours']]
y = student1['final_score']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X-Trainingn Data")
print(X_train.head())

print("X-Test Data")
print(X_test.head())

print("y-Trainingn Data")
print(y_train.head())

print("y-Test Data")
print(y_test.head())

X-Trainingn Data
     daily_study_hours
29            1.796879
535           3.314167
695           4.949474
557           2.030528
836           2.752176
X-Test Data
     daily_study_hours
521           3.460279
737           1.325789
740           3.181712
660           2.158912
411           4.931788
y-Trainingn Data
29     55.652147
535    92.956909
695    82.223680
557    59.913679
836    93.373129
Name: final_score, dtype: float64
y-Test Data
521    66.680454
737    88.044168
740    69.285740
660    61.758567
411    87.647919
Name: final_score, dtype: float64

# SuperVised Learning

- Predict Nummber
- Categories Predict 

##### What we can do in this ?
- Collect Labeled Ddata
- Train Model
- Make Prediction 
- Evalute Performance
- Refine Model

##### What we do learn in this 
- Machine Learning Algo & Training Process
1. Regression: It is a technique Supervised Learning in which the model predict the continous output variable by model and find the reletionship between dependent and independent variable through a straight line. It has two types.
   1. Linear Regression 
   2. Classification -> Logistic Regression , K-Nearest Neighbors(KNN), Decision Tree Classifier
2. Model Traning -> .fit(), .predict()

# Day 16

## Linear Regression it is a part of Regression 
Predicting the numbers....
1. Finds a patterns in old data.
2. After finding pattern model draw a straight line
3. Predict the future with the help of the straight line.

y = mx + c

1. its not about the line, its about the story of dataset.
2. 5 rows use to start
3. accuracy is not always the goal

In [17]:
from sklearn.linear_model import LinearRegression #importing the tool of scikit learn from the module of Linear Model and we use class LinearRegression
X = student1[['daily_study_hours']].head() # X is a variable and we are assigning the value of the column daily_study_hours to it and we are using double square brackets to make it a dataframe
y = student1['final_score'].head() # y is a variable and we are assigning the value of the column final_score to it and we are using single square brackets to make it a series

model = LinearRegression() # model is a variable and we creating an object of the class LinearRegression and we are calling it model
model.fit(X, y) #we use our object model for training the model using the fit method and we are passing our training data X and y to it

hours = float(input("Enter the number of hours studied daily: ")) # we are taking input from the user for the number of hours studied daily and we are converting it to float
predicted_score = model.predict([[hours]]) # we are using our trained model to predict the final score based on the input hours and we are passing it as a 2D array

print(f"Based on your hours {hours} you may score approximate {predicted_score} in the final exam.") # we are printing the predicted score to the user with a message and we are formatting it to 2 decimal places

Based on your hours 4.0 you may score approximate [88.07689274] in the final exam.

c:\Users\shekh\OneDrive\Documents\python_study\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

## Classification

Predict the lables, here model not working on numbers like (marks, salary etc), Here works on yes/no, Dog/Cat. Basically here model predict the category or label it works on labels prediction..

,student_id,final_score,grade,pass_fail,previous_score,math_prev_score,science_prev_score,language_prev_score,daily_study_hours,attendance_percentage,homework_completion_rate,sleep_hours,screen_time_hours,physical_activity_minutes,motivation_score,exam_anxiety_score,parent_education_level,study_environment
0,S0001,60.137241,D,1,60.599707,61.488212,53.568119,64.972292,1.427203,75.738405,68.534371,6.809352,3.313096,65.059425,4.150025,6.104103,Master,Noisy
1,S0002,99.021977,A,1,92.289287,85.612565,91.873759,89.040461,4.813612,89.602736,91.990197,5.567793,4.925359,76.016617,8.714693,1.982358,High School,Quiet
2,S0003,70.522955,C,1,80.259667,82.160656,72.736065,74.243663,1.240908,81.495426,69.669666,6.702875,5.107888,113.616872,5.928220,4.463662,High School,Moderate
3,S0004,63.448537,D,1,72.926217,75.979145,76.726496,67.715995,2.190601,71.472047,71.976757,7.854439,3.772446,108.686690,4.224928,4.740474,High School,Noisy
4,S0005,66.483019,C,1,48.581025,51.379977,48.993224,46.145011,2.192265,64.276582,68.940591,7.662429,1.898989,42.107294,9.506815,1.143852,Master,Quiet

#### Logistic Regression

In [25]:
from sklearn.linear_model import LogisticRegression

X = student1[['daily_study_hours']].head(10)
y = student1[['pass_fail']].head(10)

model = LogisticRegression()

model.fit(X, y)
hours = float(input("Enter the number of hours studied daily: "))
result = model.predict([[hours]])[0]

if result == 1:
    print(f"Based on hours {hours} you are likely to PASS")
else:    print(f"Based on hours {hours} you are likely to FAIL")

c:\Users\shekh\OneDrive\Documents\python_study\venv\Lib\site-packages\sklearn\utils\validation.py:1352: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Based on hours 2.0 you are likely to PASS

c:\Users\shekh\OneDrive\Documents\python_study\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

# KNN Model 
It is works, based on neighbor's behaviour

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

X = [[180, 7],
     [200, 7.5],
     [250, 8],
     [300, 8.5],
     [330, 9],
     [360, 9.5]
    ]

# 0 = Apple, 1 = Orange
y = [0, 0, 1, 1, 1, 1]

model = KNeighborsClassifier(n_neighbors=3)
model.fit(X, y)

weight = float(input("Enter the weight of the fruit: "))
size = float(input("Enter the size of the fruit: "))

result = model.predict([[weight, size]])[0] # with [0] we can get the first and only result from the array of predictions###

if result == 0:
    print("This is likely an Apple.")

if result == 1:
    print("This is likely an Orange.")

This is likely an Apple.

### Decision Tree

A decision tree works by recursively splitting data based on feature values until it reaches a decision at the leaf node.

Example:

if fever > 100
    yes > cough?
        yes > flu
        no > maybe
    no - No flu.

In [31]:
from sklearn.tree import DecisionTreeClassifier

X = [[7,2], # Apple, here we give size and color shade of the fruit
     [8,3], # Apple
     [9,8], # Orange
     [10,9] # Orange
     ]

y = [0, 0, 1, 1] # 0 = Apple, 1 = Orange

model = DecisionTreeClassifier()
model.fit(X, y)
size = float(input("Enter the size of the fruit: "))
shade = float(input("Enter the color shade (1-10) of the fruit: "))

result = model.predict([[size, shade]])[0]

if result == 0:
    print("This is likely an Apple.")
else: 
    print("This is likely an Orange.")

This is likely an Orange.

- .fit = trains the model on the given data
- .predict = Uses the trained model to make predictions on new/unseen data

# Overfitting , Underfitting and Goodfitting

### UnderFitting
-  The model is too simple and fails to capture important patterns in the data.
#### Symptoms of underfitting
-  Poor Performance on both training &  text data.
-  High bias (model makes overly simplistic asumptions.)
#### Causes of underfitting
-  Model complexity too low (eg- used linear regression for highly non-linear data)
-  insufficient trainig or missing features.

##### Ex:- Trying to predict house price using only the numbers of rooms, ignoring location, size, etc.

### OverFitting
- The model is too complex and learns not only the true patterns but also the noise/random quirks in the training data.

#### Sypmtoms of overfitting
- Very high accuracy on training data.
- Poor generalization to test/unseen data.
- High variance (model predictions fluctuate too much).

#### Causes of overfitting
- Too many parameters/features.
- Lack of regularization.
- Small training dataset.

Ex:- A decision tree that memorizes every training sample instead of learning general rules.

### GoodFitting
- The model is just right - complex enough to capture real patterns but not so complex that it memorizes noise.

#### Symptoms of goodfitting
- Balanced performance: good accuracy  on both training and test sets.
- Low bias and low variance.

#### Goal 
- Achieve this balance by tuning hyperparameters, using cross-validation, and applying techniques like regulization or pruning.

# --------------------- Model Evalution Matrics ---------------------

Model evaluation metrics are the quantitative measures we use to judge how well a machine learning model performs. They help us understand whether the model is accurate, reliable, and suitable for real-world use. Different tasks (classification, regression, clustering) require different metrics.

##### Common Model Evalution Metrics
1. For Classification Models
    - Accuracy -> Proportion of correct predictions out of all predictions.
    - Precision -> Of the predicted positives, how many are actually positive.
    - Recall(sensitivity) -> Of the positives, How many did the model correctly identify.
    - F1 Score -> Harmonic mean of precision and recall, balances both.
    - ROC-AUC -> Measures how well the model distinguishes between classes.

2. For Regression Models
    - Mean Absolute Error(MAE) imp. -> Average absolute difference between predicted and actual values.
    - Mean Squared Error(MSE) imp. -> Average squared difference; penalizes larger errors more.
    - Root Mean Squared Error -> Square root of MSE, interpretable in original units.
    - R<sup>2</sup> (coefficient of Determination) -> Explains how much variance in the target is captured by the model.

3. For Clustring Models
    - Silhouette Score -> Measures how similar an object is to its own cluster compared to other clusters.
    - Davies-Bouldin Index -> Lower Indicate better clustering.
    - Adjusted Rand Index (ARI) -> Compares clustering results with ground truth labels.

4. Confusion Matrics

5. sklearn Matrics

### ------ Classifiaction ------

1. Accuracy = correct_pred/total_pred
sklearn.metrics

model accuracy
100,95,5

In [32]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [ ]:
#true answers (what actually happened)
X = []